@import "../../base";

:host{
  position: relative;
}

:host([color="accent"]) input{
  outline: 1px solid $accentDarkmodeDark;
  border-color: $accentDarkmodeDark;
  /*color: adjust-color($accentDarkmodeLight, $lightness: 35%);*/
  background-color: adjust-color($accentDarkmodeLight, $alpha: -0.9);

  &:focus-visible{
    border-color: $accentDarkmodeLight;
    outline-color: $accentDarkmodeLight;
  }
}

:host([size="medium"]) input{
  padding-inline: .5rem;
  padding-block: .2rem;
}

:host(.error) input{
  outline: 1px solid $badDark;
  border-color: $badDark;

  &:focus-visible{
    border-color: $bad;
    outline-color: $bad;
  }
}

//dropdown icon
:host > svg{
  display: block;
  height: .9rem;
  position: absolute;
  top: 45%;
  translate: 0 -50%;
  right: .5rem;
  pointer-events: none;

  path{
    color: $gray600;
  }
}

input{
  width: 100%;
  box-sizing: border-box;
}

.suggestions{
  position: absolute;
  z-index: 10;
  left: 0;
  top: calc(100% + .3rem);

  padding: .3rem .2rem;
  min-width: 20ch;

  border-radius: .3rem;
  border: 1px solid $gray600;
  background-color: $gray300;
  box-shadow: .3rem .3rem .3rem hsl(0, 0%, 0%, 20%);

  display: flex;
  flex-direction: column;

  transition: opacity $transitionTimeMedium, transform $transitionTimeMedium;

  display: none;
  opacity: 0;
  transform: translateY(.5rem);

  &.visible{
    opacity: 1;
    transform: translateY(0rem);
  }
}

.entry{
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: background-color $transitionTimeShort;
  border-radius: .3rem;
  padding: .2rem .5rem;
  cursor: pointer;

  &.focused{
    background-color: $gray400;

    label{
      color: $gray1000;
    }

    svg path{
      color: $gray1000;
    }
  }

  svg{
    height: 1.1rem;

    path{
      color: $gray800;
      transition: color $transitionTimeShort;
    }
  }

  label{
    cursor: pointer;
    color: $gray800;
    transition: color $transitionTimeShort;
  }
}

.empty{
  color: $gray600;
}