@import "../../base";

:host{
  position: relative;
}

:host([color="accent"]) input{
  outline: 1px solid $accent300;
  border-color: $accent300;
  /*color: adjust-color($accentDarkmodeLight, $lightness: 35%);*/
  background-color: adjust-color($accent700, $alpha: -0.9);

  &:focus-visible{
    border-color: $accent700;
    outline-color: $accent700;
  }
}

:host(.error[color="accent"]) input{
  background-color: adjust-color($badBright, $alpha: -0.9);
}

:host([size="medium"]) input{
  padding-inline: .5rem;
  padding-block: .2rem;
}

:host(.error) input{
  outline: 1px solid $badDark;
  border-color: $badDark;

  &:focus-visible{
    border-color: $bad;
    outline-color: $bad;
  }
}

//dropdown icon
:host > .dropdownIcon {
  position: absolute;
  top: 45%;
  translate: 0 -50%;
  right: .1rem;
  pointer-events: none;
  background-color: hsl(0, 0%, 15%, 65%);
  height: 1.2rem;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  border-radius: 50%;

  svg {
    display: block;
    height: .9rem;

    path {
      color: $gray1000;
    }
  }
}

input{
  width: 100%;
  box-sizing: border-box;
}