@import "../../base";

:host {
  all: initial;
}

.cc-chip{
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-size: $fSizeDesktopSmall;
  border-radius: .25rem;
  width: fit-content;
  padding: .1rem .2rem;

  &[color="ACCENT"]{
    background-color: $accentDarkmode;
  }
  &[color="GOOD"]{
    background-color: $good;
  }
  &[color="MID"]{
    background-color: $mid;
  }
  &[color="BAD"]{
    background-color: $bad;
  }
  &[color="GRAY"]{
    background-color: $gray500;
  }
  &[color="LIGHTGRAY"]{
    background-color: $gray700;
    color: $gray300;
  }

  &[size="BIG"]{
    font-size: 1.2rem;
  }

  &[expandable="true"]{
    cursor: pointer;
  }

  h2{
    font-size: $fSizeDesktopSmall;
    font-weight: 600;
    letter-spacing: 0.08rem;
  }

  .remove{
    width: 1rem;
    aspect-ratio: 1/1;
    cursor: pointer;
    display: grid;
    place-items: center;
    margin-left: .2rem;

    svg{
      height: 1rem;
    }

    :hover{
      color: $gray800;
    }
  }
}