@import "../../variables";

div{
  display: grid;
  width: 2rem;
  place-content: center;
  cursor: pointer;

  &.multiple img{
    width: 1.6rem;
  }

  &.accent img {
    @include svgColorAccent
  }
  &.gray img {
    @include svgColorGray
  }

  img{
    width: 1.4rem;
    aspect-ratio: 1/1;
  }
}

