@import "../../base";

:host {
  width: auto;
  height: 1px;
  display: block;
}

:host([type="vertical"]){
    width: 1px;
}

:host([color="500"]){
  background-color: $gray500;
}
:host([color="600"]){
  background-color: $gray600;
}
:host([color="800"]){
  background-color: $gray800;
}