@import "../../variables";

div{
  display: flex;
  gap: 1px;
  color: $gray800;
  font-size: 1rem;

  &[size="big"] {
    font-size: $fSizeDesktopLarge;
  }
  &[size="medium"] {
    font-size: $fSizeDesktopDefault;
  }
  &[size="small"] {
    font-size: $fSizeDesktopSmall;
  }
  &[isLink="true"] .value {
    cursor: pointer;
    text-decoration: underline;
  }
}

.property, .value{
  margin: 0;
}

.property{
  color: $gray800;
  font-weight: 400;
  padding-right: .2rem;
}

.value{
  color: white;
  font-weight: 500;
}