@import "../../base";

.cc-rent-status{
  width: .875rem;
  aspect-ratio: 1/1;
  border-radius: 100%;
  padding: .125rem;
  margin: .25rem;

  &[isBig="true"]{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
    color: $gray1000;
    border-radius: .25rem;
    width: fit-content;
    aspect-ratio: auto;
    padding: 0.125rem 0.25rem;
  }

  &[status="CONFIRMED"]{
    background-color: $good;
  }
  &[status="WAITING"]{
    background-color: $mid;
  }
  &[status="DECLINED"]{
    background-color: $bad;
    cursor: pointer;
  }
  &[status="RETURNED"]{
    background-color: $gray600;
  }
}