@import "../../base";

:host{
  all: initial;
}

.select {
  &[size="big"]{
    --f-size: #{$fSizeDesktopMedium};
  }
  &[size="default"]{
    --f-size: #{$fSizeDesktopDefault};
  }
  &[size="small"]{
    --f-size: #{$fSizeDesktopSmall};
  }

  display: flex;
  font-size: var(--f-size) !important;
  font-weight: 400 !important;

  ::slotted(*){
    cursor: pointer;
    color: $gray800 !important;
    user-select: none;
    font-size: var(--f-size) !important;
  }

  ::slotted(*:hover){
    color: $gray900 !important;
  }

  ::slotted(*.selected){
    color: white !important;
    font-weight: 600 !important;
  }

  ::slotted(*:not(:last-child)):after{
    margin-inline: .3rem;
    content: "•";
  }
}