@import "../../base";

:host{
  all: initial;
}

.select {
  display: flex;
  font-size: $fSizeDesktopLarge !important;
  font-weight: 400 !important;
  color: $gray800 !important;

  :not(:last-child):after{
    margin-inline: .5rem;
    content: "•";
  }

  p{
    margin: 0;
  }
}

cc-select-element{
  display: flex;
  align-items: center;
}

.select-element p{
  cursor: pointer;
  &.active{
    color: white !important;
    font-weight: 600 !important;
  }

  &:hover{
    color: $gray900 !important;
  }
}