@import "../base";

:global{

  body{
    height: 100svh;
  }

  .content{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .sidebar-container{
    display: flex;
    height: 100%;
    overflow:hidden;
  }

  main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }

  .test{
    background-color: black;
    width: 5rem;
    height: 5rem;
    @include imgIconColorAccent
  }
}


