@import "../base";

:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

:global{
  .test{
    background-color: black;
    width: 5rem;
    height: 5rem;
    @include imgIconColorAccent
  }
}


