@import "../base";

:host{
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  height: 100vh;
  max-height: 100vh;
  background-color: $gray100;
  position: relative;
}

cc-navbar{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

cc-sidebar{
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.toolbar-container{
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  cc-toolbar {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto minmax(0, 1fr);
  width: 100%;
}