@import "../../variables";

:host {
  all: initial;
}

.cc-chip{
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 1rem;
  border-radius: .25rem;
  width: fit-content;
  padding: .1rem .2rem;
  margin: .5rem;

  &[color="ACCENT"]{
    background-color: $accent;
  }
  &[color="GOOD"]{
    background-color: $good;
  }
  &[color="MID"]{
    background-color: $mid;
  }
  &[color="BAD"]{
    background-color: $bad;
  }
  &[color="GRAY"]{
    background-color: $gray500;
  }

  &[size="BIG"]{
    font-size: 1.2rem;
  }

  .removeDiv{
    width: 1rem;
    aspect-ratio: 1/1;
    cursor: pointer;

    :hover{
      color: $gray200;
    }
  }
}