@import "../../variables";

cc-circle-select div{
  display: grid;
  width: 2rem;
  place-content: center;
  cursor: pointer;

  &.multiple img{
    width: 1.6rem;
  }

  &.accent img {
    filter: invert(57%) sepia(97%) saturate(166%) hue-rotate(158deg) brightness(97%) contrast(97%);
  }
  &.gray img {
    filter: invert(77%) sepia(1%) saturate(0%) hue-rotate(248deg) brightness(91%) contrast(88%);
  }

  img{
    width: 1.4rem;
    aspect-ratio: 1/1;
  }
}

