@import "../../variables";

.filter-option, .filter-block {
  display: flex;
  flex-direction: column;
}

.filter-block {
  h2 {
    color: $accent;
    font-weight: 600;
    margin: 0;
  }

  cc-filter-element:last-child {
    p::after{
      height: 50%;
    }
  }

  .filter-element {
    font-weight: 400;
    display: flex;
    align-items: center;
    color: $gray800;
    cursor: pointer;
    height: fit-content;
    margin-left: .3rem;

    &:hover{
      color: $gray900;
    }

    &[isActive = "true"]{
      color: white;
      font-weight: 600;
    }

    p{
      $linewidth: .8rem;
      margin: 0 0 0 $linewidth;
      position: relative;
      font-size: 1.25rem;

      &::before, &::after{
        content: "";
        background-color: $accent;
        position: absolute;
        right: 100%;
      }

      &::before{
        height: .15rem;
        width: $linewidth;
        top: 50%;
        transform: translateY(-50%);
        margin-right: .15rem;
      }

      &::after{
        height: 100%;
        width: .15rem;
        margin-right: $linewidth;
      }
    }
  }
}

