@import "../../variables";

:host{
  all: initial;
}

div.chain{
  display: flex;

  :not(:last-child):after{
    content: "•";
    margin: .5rem;
  }

  *{
    color: white;
    text-decoration: none;
    margin: 0;
  }

  .isLink{
    text-decoration: underline;

    &:after{
      text-decoration: none;
    }
  }
}