@import "../../variables";

:host{
  all: initial;
}

div.chain{
  display: flex;

  :not(:last-child):after{
    content: "•";
    margin: .5rem;
  }

  *{
    color: white;
    text-decoration: none;
    margin: 0;
  }

  [type="link"]{
    text-decoration: underline;
  }
}