@import "../../base";

:host{
  all: initial;
}

.cc-button{
  background-color: $accentDarkmode;
  font-size: 1.25rem;
  min-width: 10ch;
  border: 1px solid;
  border-radius: .3rem;
  padding: .25rem 1rem;
  margin: .5rem;
  cursor: pointer;
  transition: .2s all ease;

  &[type = "outlined"]{
    border: 2px solid;
    background: transparent;

    &:hover{
      background: $gray100;
    }
  }

  &[type="text"]{
    background: transparent;
    border: none;

    &:hover {
      --hover-background: rgba(128, 128, 128, 0.2);
        background-color: var(--hover-background);
    }

    &[color="accent"]{
      color: $accentDarkmode;
    }
  }

  &[size = "small"]{
    font-size: 1.125rem;
    min-width: 8ch;
  }
  &[size = "xsmall"]{
    font-size: 1rem;
    min-width: 6ch;
  }

  &[color = "accent"]{
    border-color: $accentDarkmodeLight;
    &[type = "filled"]{
      background-color: $accentDarkmodeDark;
      color: $gray1000;
      &:hover{
        background-color: $accentDarkmode;
      }
    }
    &[type = "outlined"]{
      color: $accentDarkmodeLight;
    }
  }

  &[color = "gray"]{
    color: $gray900;
    border-color: $gray600;
    &[type = "filled"]{
      background-color: $gray300;
      &:hover{
        background-color: $gray100;
      }
    }
  }
}