@import "../variables.scss";

cc-button::part(cc-button) {
  font-size: 1.25rem;
  min-width: 20ch;
  height: 5ch;
  border: 1px solid;
  border-radius: .5rem;

  &[color = "accent"]{
    border-color: $accentLight;
    &[type = "filled"]{
      background-color: $accent;
      color: $gray1000;
    }
    &[type = "outlined"]{
      color: $accentLight;
    }
  }

  &[color = "gray"]{
    color: $gray900;
    border-color: $gray600;
    &[type = "filled"]{
      background-color: $gray300;
    }
  }

  &[type = "outlined"]{
    background: transparent;
  }

  &[size = "small"]{
    font-size: 1.125rem;
    min-width: 10ch;
    height: 1.6rem;
  }
}