@import "../variables";

:host {
  all: initial;
}

.cc-rent-status{
  color: white;
  font-size: 1rem;
  border-radius: .25rem;
  width: fit-content;
  padding: .25rem .5rem;
  margin: .5rem;

  &[status="verfügbar"]{
    background-color: $good;
  }
  &[status="vergeben"]{
    background-color: $bad;
  }
  &[status="gesperrt"]{
    background-color: $gray500;
  }
}