@use "../../base" as *;

:host {
  display: flex;
  flex-direction: column;
  all: initial;
  flex-grow: 1;
  padding-inline: 1rem !important;
  padding-bottom: 5rem !important;
  overflow-y: auto;

  cc-rent-list-entry {
    margin: 1rem !important;
  }

  @media screen and (max-width: 750px){
    padding-inline: .5rem !important;
    padding-bottom: 15rem !important;
  }

  &::-webkit-scrollbar {
    display: none; /*Chrome, Safari and Opera */
  }
}

.noResults{
  margin-top: 4rem;
  text-align: center;
  color: $gray800;
}

.showHistory{
  margin-inline: auto;
  margin-top: 2rem;
  display: block;

  &::part(button){
    color: $gray700;
  }
}