@import "../../base";

:host{
  display: flex;
  gap: .5rem;
  align-items: center;
  padding-block: .5rem;
  padding-inline: 1rem .5rem;
  border-radius: .3rem;
  background-color: $gray250;
  margin-block: .3rem;
  font-size: $fSizeDesktopSmall;
  padding: .5rem !important;
  margin-top: .5rem !important;
}


div{
  display: flex;
  gap: 1rem;
  margin-right: auto;
}

.date{
  color: $gray700;
}

cc-button{
  margin-left: .5rem;
}

p.done{
  color: $gray700
}

svg, img{
  height: 1rem;
  path{
    color: $gray700;
  }
}
