@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font: inherit;
    accent-color: $accentDarkmode;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: $gray1000;
}

img{
    width:100%;
    display: block;
}

html{
    scroll-behavior: smooth;
}

body{
	background-color: hsl(0,0%,10%);
	color: hsl(0,0%,0%);
	font-family: sans-serif;
}

::selection{
    background-color: $accentDarkmode;
    color: hsl(0, 0%, 0%);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 100%)
}

:global {
    svg.cta {
        $padding: .4rem;
        --hover-background: transparent;

        cursor: pointer;
        background-color: var(--hover-background);
        border-radius: 50%;
        padding: $padding;
        margin: -$padding;

        transition: background-color .2s;

        &:hover {
            --hover-background: rgba(128, 128, 128, 0.2);
        }
    }
}
