@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font: inherit;
    accent-color: $accentDarkmode;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    color: $gray1000;
}

img{
    width:100%;
    display: block;
}

html{
    scroll-behavior: smooth;
}

body{
	background-color: hsl(0,0%,10%);
}

::selection{
    background-color: $accentDarkmodeLight;
    color: hsl(0, 0%, 0%);
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    background-color: transparent;
    border: none;
    color: hsl(0, 0%, 100%);
}

:global {
    .cta-icon { /*TODO fix this selector*/
        --padding: 0.4rem;
        --hover-background: transparent;

        cursor: pointer;
        background-color: var(--hover-background);
        border-radius: 50%;
        padding: var(--padding);
        margin: calc(var(--padding) * -1);

        transition: background-color .2s;
        animation: svg-cta-click 1s infinite;

        &:hover {
            --hover-background: rgba(128, 128, 128, 0.35);
        }

        &:active{
            --hover-background: rgba(128, 128, 128, 0.35);
            animation: svg-cta-click 1s infinite;
        }
    }

    #tooltip{
        position: absolute;
        padding: .5rem;
        background-color: $gray500;
        box-sizing: border-box;
        pointer-events: none;
        cursor: default;
        border-radius: .2rem;
        opacity: 0;
        max-width: 30ch;
        top: 0;
        left: 0;
    }
}

/*animation geht mit svg grad aus irgendeimnem grund ned*/
@keyframes svg-cta-click {
    1% {
        --padding: .4rem;
        background-color: green;
        scale: 0;
    }
    50% {
        --padding: -0.5rem;
        background-color: rebeccapurple;
        scale: 1;
    }
    100% {
        --padding: .4rem;
        background-color: black;
        scale: 0;
    }
}
