@import "variables";

:global{
  .air-datepicker{
    --adp-background-color: #{$gray300};
    --adp-border-color: #{$gray600};
    --adp-cell-background-color-hover: #{$gray400};
    --adp-background-color-hover: #{$gray400};
    --adp-color-other-month: #{$gray600};
    --adp-color: #{$gray800};
    --adp-cell-background-color-selected: #{$accentDarkmode};
    --adp-background-color-selected-other-month: #{$accentDarkmodeLight};
  }

  .air-datepicker--pointer::after{
    background-color: #{$gray300};
  }

  .air-datepicker-body--day-name{
    color: #{$accentDarkmodeLight};
  }
}

/*
.air-datepicker{
  background: red !important;
  color: black !important;
}*/
