:global{
  .air-datepicker-global-container {
    background-color: red !important;

    *{
      background-color: red !important;
      color: black !important;
    }
  }
}
.air-datepicker{
  background-color: red !important;
  color: black !important;
}