$fSizeDesktopLarge: 1.15rem;
$fSizeDesktopMedium: 1.1rem;
$fSizeDesktopDefault: 1rem;
$fSizeDesktopSmall: .95rem;

/*TO UPDATE these open figma and from files>plugins>manage plugins run CSSGen*/

$accentDarkmodeDark: hsla(201,50.3%,37.1%,1);
$accentDarkmode: hsla(200,49.8%,50%,1);
$accentDarkmodeLight: hsla(202,55.1%,65.1%,1);
$gray100: hsla(0,0%,14.9%,1);
$gray150: hsla(0,0%,16.9%,1);
$gray200: hsla(0,0%,18%,1);
$gray250: hsla(0,0%,20%,1);
$gray300: hsla(0,0%,21.2%,1);
$gray350: hsla(0,0%,23.1%,1);
$gray400: hsla(0,0%,25.9%,1);
$gray500: hsla(0,0%,34.9%,1);
$gray600: hsla(0,0%,54.9%,1);
$gray700: hsla(0,0%,67.8%,1);
$gray800: hsla(0,0%,80%,1);
$gray900: hsla(0,0%,90.2%,1);
$gray1000: hsla(0,0%,100%,1);
$badGrayTransparent: hsla(0,30.4%,27.1%,0.800);
$badGray: hsla(0,25.2%,32%,1);
$bad: hsla(0,45.1%,50%,1);
$badDark: hsla(0,45.1%,40%,1);
$badLight: hsla(0,67.7%,93.9%,1);
$mid: hsla(32,59.8%,40%,1);
$midDark: hsla(32,59.5%,30%,1);
$good: hsla(119,21.8%,43.1%,1);
$goodDark: hsla(118,21.5%,32%,1);
$overlay: hsla(0,0%,24.3%,0.200);

@mixin overlayBlur() {
  backdrop-filter : blur(12px);
}
@mixin elveationTopInner() {
  box-shadow: inset 0px 6px 6px hsla(0,0%,0%,0.150);
}
@mixin elevationTopLeftInner() {
  box-shadow: inset 6px 6px 6px hsla(0,0%,0%,0.150);
}
@mixin elevationLeftInner() {
  box-shadow: inset 6px 0px 6px hsla(0,0%,0%,0.150);
}
@mixin elevationBottomInner() {
  box-shadow: inset 0px -6px 6px hsla(0,0%,0%,0.150);
}

@mixin imgIconColorAccent() {
  filter: invert(57%) sepia(97%) saturate(166%) hue-rotate(158deg) brightness(97%) contrast(97%);
}
@mixin imgIconColorGray800() {
  filter: invert(100%) brightness(80%);
}