$accentDark: var(--accentDark);
$accent: var(--accent);
$accentLight: var(--accentLight);
$accentLight01: var(--accentLight01);
$accentGray: var(--accentGray);

$gray100: var(--gray100);
$gray150: var(--gray150);
$gray200: var(--gray200);
$gray250: var(--gray250);
$gray300: var(--gray300);
$gray350: var(--gray350);
$gray400: var(--gray400);
$gray500: var(--gray500);
$gray600: var(--gray600);
$gray700: var(--gray700);
$gray800: var(--gray800);
$gray900: var(--gray900);
$gray1000: var(--gray1000);

$badLight: var(--badLight);
$bad: var(--bad);
$badDark: var(--badDark);
$badGray: var(--badGray);
$badGrayTransparent: var(--badGrayTransparent);
$badBright: var(--badBright);
$badBright01: var(--badBright01);
$midLight: var(--midLight);
$mid: var(--mid);
$midDark: var(--midDark);
$goodLight: var(--goodLight);
$good: var(--good);
$goodDark: var(--goodDark);
$overlay: var(--overlay);

$hoverBackground: var(--hoverBackground);
$hoverBackgroundLight: var(--hoverBackgroundLight);

$fSizeDesktopLarge: 1.1rem;
$fSizeDesktopDefault: 1rem;
$fSizeDesktopSmall: 0.9rem;
$fSizeDesktopTiny: 0.8rem;

$transitionTimeShort: 200ms;
$transitionTimeMedium: 300ms;
$transitionTimeLong: 500ms;

$hoverBackgroundTransitionTime: #{$transitionTimeShort};

@mixin textBackgroundHoverPreparation() {
  border-radius: .3rem;
  padding: .1rem .2rem !important;
  margin: -.1rem -.2rem !important;
  background-color: transparent;
}

@mixin overlayBlur() {
  backdrop-filter : blur(12px);
}
@mixin elveationTopInner() {
  box-shadow: inset 0px 6px 6px hsla(0,0%,0%,0.150);
}
@mixin elevationTopLeftInner() {
  box-shadow: inset 6px 6px 6px hsla(0,0%,0%,0.150);
}
@mixin elevationLeftInner() {
  box-shadow: inset 6px 0px 6px hsla(0,0%,0%,0.150);
}
@mixin elevationBottomInner() {
  box-shadow: inset 0px -6px 6px hsla(0,0%,0%,0.150);
}

@mixin imgIconColorAccent() {
  filter: invert(57%) sepia(97%) saturate(166%) hue-rotate(158deg) brightness(97%) contrast(97%);
}
@mixin imgIconColorGray800() {
  filter: invert(100%) brightness(80%);
}
@mixin imgIconColorGood() {
  filter: invert(63%) sepia(49%) saturate(302%) hue-rotate(70deg) brightness(93%) contrast(87%);
}
@mixin imgIconColorBad() {
  filter: invert(39%) sepia(16%) saturate(2349%) hue-rotate(312deg) brightness(89%) contrast(92%);
}

@mixin noScrollbar() {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}