@import "../../base";

:host{
  all: initial;

  display: flex;
  padding: 0.25rem !important;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.25rem;
  border: 1px solid var(--gray350, #3B3B3B);
  background: var(--gray300, #363636);

  div{
    display: flex;
  }

  input{
    display: flex;
    padding: 0.125rem 0.25rem;
    align-items: center;
    gap: 0.2rem;
    width: 8ch;

    background: transparent;
    border-radius: 0.25rem;
    border: 1px solid $gray500;

    label{
      color: $accentDarkmode;
    }

    &.number{
      width: 3ch;
    }

    &[type = "date"]{
      width: 8ch;
    }
  }
}