@import "../../base";

:host{
    display: flex;
    padding: 0.25rem !important;
    padding-right: .5rem !important;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    border: 1px solid var(--gray350, #3B3B3B);
    background: var(--gray300, #363636);
    gap: .5rem;

    div.left, div.right{
        display: flex;
        gap: .5rem;
    }

    input{
        background: transparent;
        border-radius: 0.25rem;
        border: 1px solid $gray500;
        padding-inline: .3rem;

        &.name{
            width: 10ch;
        }

        &.date{
            width: 10ch;
            text-align: center;
        }

        &.number{
            width: 3ch;
        }

        &[type = "date"]{
            width: 8ch;
        }
    }

    svg{
        height: 1.2rem;

        path{
            color: $gray900;
        }
    }
}