@import "../../base";

$gap: 1rem;

:host {
  all: initial;
  column-gap: $gap;
  padding: $gap !important;

  overflow-y: scroll;

  -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
}

:host([size="small"]) {
  columns: 1;
}
:host([size="medium"]) {
  columns: 2;
}
:host([size="large"]) {
  columns: 3;
}
:host([size="xLarge"]) {
  columns: 4;
}

:host > *{
  break-inside: avoid;
  margin-bottom: $gap;
}

p{
  height: 10rem;
}
