@import "../../base";

:host{
  position: relative;
  display: flex;
  padding: .375rem .5rem !important;
  margin-block: .5rem !important;
  border-radius: .5rem;
  background-color: $gray200;
  cursor: pointer;
}

:host(:hover){
  background-color: $gray300;

  div.edit{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: .5rem;
    padding-inline: 2rem;
    background: $gray350;
    height: 100%;
    cursor: initial;
  }
}

h3{
  font-size: 1rem;
  width: 9vw;
}

div{
  display: flex;

  &.edit{
    display: none;
  }

  &.tags{
    width: 9vw;
  }

  cc-property-value{
    margin-inline: .5rem;
  }
}

cc-circle-select{
  margin-left: auto;
}