@import "../../base";

:host{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $gray800;
  font-weight: 400;
  background-color: $gray300;
  padding: 0.3rem 0.75rem !important;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.15);
  height: fit-content;
}

:host([type = "simple"]){
  justify-content: center;
}

:host([type = "back"]){
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  .logo{
    margin-inline: auto;
    position: absolute;
    left: 50%;
    translate: -50% 0%;
  }
}

div.logo{
  height: 1.5rem;
  cursor: pointer;

  img{
    height: 100%;
  }
}

div.tools{
  display: flex;
  align-items: center;
  gap: 1rem;

  svg{
    height: 1.2rem;
    @include imgIconColorGray800;
  }
}

div.searchBar{
  width: 22ch;
  background-color: $gray400;
  border-radius: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .2rem;

  input{
    color: $gray800;
    background: transparent;
    border: none;
    border-bottom: 1px solid $gray800;
    padding: .2rem;
  }
}
