@import "../../base";

:host {
  all: initial;
  flex-grow: 1;
}

.student{
  padding: 1rem;
}

.heading{
  display: flex;
  justify-content: space-between;
  border: 1px solid $gray500;
  border-radius: 0.75rem 0.75rem 0rem 0.75rem;
  background-color: $gray300;
  padding: .25rem .5rem;

  img{
    height: 1.5rem;
    @include svgColorAccent;
  }

  div{
    display: flex;
    align-items: center;

    p, cc-button, cc-circle-select{
      margin-inline: .2rem;
    }
  }

  .leftSide p:first-child{
    font-weight: bold;
  }
}