@import "../../base";

:host {
  all: initial;
  flex-grow: 1;
  display: flex;
  background-color: $gray200;
  padding: 0.5rem !important;
  gap: 0.75rem;
  align-items: center;
  justify-content: space-between;
  transition: background-color $transitionTimeShort;
}

:host(:hover){
  //TODO add this as setting
  /*background-color: $gray300;*/
}

:host(:not(:first-of-type)){
  border-top: 1px solid $gray350;
}

:host([status="DECLINED"]){
  background: $badGradient;

  input{
    border-radius: 0.25rem;
    border: 1px solid $gray500;
    background: var(--badGrayTransparent, rgba(90, 48, 48, 0.80));
  }

  span {
    color: $gray800;
  }
}

input, cc-autocomplete{
  &.name{
    width: 15ch;
  }

  &.date{
    width: 11ch;
    text-align: center;
    padding-inline: .2rem;
  }

  &.number{
    width: 5ch;
  }
}

//TODO format all dates with more letter spacing as they are in figma

.area{//TODO cleanup this selector
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-weight: 400;
  color: $gray800;
  font-size: $fSizeDesktopSmall;

  p:last-child{
    color: white;
    font-weight: 500;
    margin-left: .2rem;
  }

  &.deviceInfos, &.time{
    gap: 0.5rem;
  }
}

cc-chip{
  margin-right: 1rem;
}

cc-line{
  margin-inline: .5rem;
}

input{
  display: flex;
  padding: 0rem 0.1875rem 0rem 0.25rem;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.25rem;
  border: 1px solid $gray500;
  background: $gray300;

  &[type = "text"]{
    width: 12ch;
  }

  &.number{
    width: 4ch;
  }

  &[disabled]{
    background: transparent;
    border: none;
  }
}
cc-chip .details{
  h2{
    font-weight: bold;
    margin-bottom: .5rem;
  }

  p{
    margin-bottom: .5rem;
  }
}