@import "../../base";

:host{
  position: relative;
}

.bottomBlur{
  background-color: red;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3rem;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.row{
  display: flex;
  gap: .6rem;
  margin-left: 1rem;
}

.heading{
  display: flex;
  gap: .5rem;
  align-items: center;
  margin-bottom: .2rem;
}

h3{
  font-size: 1.15rem;
}

h4{
  margin-top: .5rem;
  margin-left: .3rem;
  font-weight: 500;
  font-size: 1.05rem;
}