@import "../../base";

:host{
  display: flex;
  justify-content: end;
  background: $gray250;
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.15) inset;
  padding-block: .5rem !important;

  svg, img{
    height: 1rem;
    aspect-ratio: 1/1;
    margin-right: .3rem;
    @include svgColorAccent;

    path{
      color: $accentDarkmode;
    }
  }

  div{
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}