$accent: #4095BF;
$accentDark: #2F6C8E;
$accentLight: #75B3D7;
$gray100: #262626;
$gray200: #2E2E2E;
$gray300: #363636;
$gray400: #424242;
$gray500: #595959;
$gray600: #8C8C8C;
$gray700: #ADADAD;
$gray800: #CCCCCC;
$gray900: #E6E6E6;
$gray1000: #FFFFFF;
$badGrayTransparent: hsla(0, 30, 27%, 0.8);
$badGray: #663D3D;
$bad: #B94646;
$badLight: #FAE5E5;
$mid: #CC8633;
$good: #578656;