@import "../../../base";

:host{
  overflow: auto;
}

svg{
  height: 32px;
  @include imgIconColorGray800;
}

main{
  margin: 1rem;
  grid-column: 2 / 3;
  overflow: auto;

  div{
    display: flex;
    align-items: center;

    div{
      display: flex;
      flex-direction: column;
    }
  }
}
h1{
  font-size: 2rem;
}