@import "../../../base";

:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray350;
  border-radius: 1rem;
  padding: 1rem !important;
  gap: 1rem;
  height: 100%;
}

.options{
  display: flex;
  align-items: center;
  gap: 5rem;
}

.import{
  button{
    display: flex;
    flex-direction: column;

    input[type="file"] {
      display: none;
    }

    .custom-input {
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-block: auto;
    }

    .icon {
      width: 1rem;
      background: $gray500;
      border-radius: .5rem;
      padding: 1rem;

      svg *{
        fill: $accent700;
      }
    }
  }

  div.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    margin-block: .5rem;

    p{
      color: $gray700;
      text-decoration: underline;
      font-size: 1rem;
    }

    .small{
      width: .75rem;
      svg * {
        fill: $gray700;
      }
    }
  }
}

.feedback{
  p.gray{
    color: $gray700;
  }
}

.export{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
  margin-top: 1rem;

  button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }

  .checkboxes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }

  .icon{
    width: 1rem;
    svg *{
      fill: $accent700;
    }
  }
}

cc-line{
  width: 100%;
}

button{
  cursor: pointer;
  user-select: none;
  border-radius: 0.75rem;
  border: 1px solid $gray600;
  background: $gray400;
  width: 25rem;
  padding-inline: 1rem;
  height: 5rem;

  &:hover{
    background: $gray500;
  }
}

.import-container{
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
  width: 100%;

  svg{
    height: 1.5rem;
    translate: 0 -.3rem;

    * {
      fill: $gray1000;
    }
  }

  cc-button{
    position: absolute;
    right: 0;
  }

  h2{
    font-size: 1.25rem;
    font-weight: bold;
  }

  .header{
    @include textBackgroundHoverPreparation;
    transition: background-color $hoverBackgroundTransitionTime ease;
    display: flex;
    gap: .5rem;
    align-items: center;

    cursor: pointer;

    &:hover{
      background-color: $hoverBackground;
    }
  }
}

ul{
  margin-left: 3rem;

  li{
    padding-block: .2rem;
  }
}

.import-feedback:has(.header.closed) {
  li {
    display: none;
  }
}